<ion-header>
    <ion-toolbar>
      <ion-title>customer edit</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="main">
      <div class="content">
          <div class="input_div">
              <ion-input #fname type="text" placeholder="FirstName" [(ngModel)]="CUSTOMER.C_FNAME"></ion-input>
              <ion-input #lname type="text" placeholder="LastName" [(ngModel)]="CUSTOMER.C_LNAME"></ion-input>
              <ion-input #phone type="text" placeholder="Phone" [(ngModel)]="CUSTOMER.C_PHONE"></ion-input>
              <ion-input #cemail type="email" placeholder="Email" [(ngModel)]="CUSTOMER.C_EMAIL"></ion-input>
              <ion-input #vcode type="text" placeholder="VipCode" [(ngModel)]="CUSTOMER.C_VIPCODE"></ion-input>
              <div class="button_div">
                  <ion-grid>
                      <ion-row>
                        <ion-col>
                          <button class="btn_edit" (click)="addEdit(fname.value, lname.value,phone.value, cemail.value,vcode.value)">Edit</button>
                        </ion-col>
                        <ion-col>
                          <button class="btn_cancle">Cancle</button>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
            </div>  
            <p class="alertUpdate">{{ALERTUPDATE}}</p> 
        </div>   
      </div>
    </div>
  </ion-content>
  