<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="main">
    <div class="content">
      <div class="input_div">
        <ion-input type="text" placeholder="Họ và tên" [(ngModel)]="CUSTOMER.C_NAME"></ion-input>
        <ion-input type="text" placeholder="Số điện thoại" [(ngModel)]="CUSTOMER.C_PHONE"></ion-input>
        <ion-input type="email" placeholder="Email" [(ngModel)]="CUSTOMER.C_EMAIL"></ion-input>
        <ion-input type="text" placeholder="VipCode" [(ngModel)]="CUSTOMER.C_VIPCODE"></ion-input>
        <div class="button_div">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-button expand="block" color="danger" (click)="doCancel()">Huỷ bỏ</ion-button>
              </ion-col>
              <ion-col>
                <ion-button expand="block" (click)="updateCustomer()">Cập nhật</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <p class="alertUpdate">{{ALERTUPDATE}}</p>
      </div>
    </div>
  </div>
</ion-content>