<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Nhân viên</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="go2UserNewAdd()">
        Thêm
        <ion-icon slot="end" name="md-add"></ion-icon>
      </ion-button>
      
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content padding>
  <div style="text-align: center; margin: 0 auto"><ion-button fill="outline" slot="end" (click)="downloadUsersReport()">
      Xuất danh sách nhân viên
      <ion-icon slot="end" name="md-download"></ion-icon>
    </ion-button></div>
    
  <ion-item *ngFor="let USER of USERS" (click)="go2UserEdit(USER)">
    <ion-avatar slot="start">
      <img [src]="USER.U_AVATAR" onError="this.src='../../assets/imgs/user.jpg';">
    </ion-avatar>
    <ion-label>
      <h3>{{USER.U_FULLNAME}}</h3>
      <p><i>{{USER.U_ROLE}}</i></p>
      <p>{{USER.U_EMAIL}}</p>
    </ion-label>
    <ion-note slot="end">
      <ion-icon name="md-create"></ion-icon>
    </ion-note>
  </ion-item>
</ion-content>