<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="main">
    <div class="content">
      <div class="input_div">
        <div class="button_div" *ngIf="USER">
          <div class="div_avatar">
            <div *ngIf="!hasNewAvatar">
              <div (click)="takePhoto()">
                <img src="{{USER.U_AVATAR}}" alt="" class="img"
                  onError="this.src='../../assets/imgs/imagenotavailable.png';">
              </div>
            </div>
            <div *ngIf="hasNewAvatar">
              <div (click)="takePhoto()">
                <img src="{{base64Images[0]}}" alt="" class="img"
                  onError="this.src='../../assets/imgs/imagenotavailable.png';">
              </div>
            </div>
          </div>

          <ion-item>
            <ion-label color="primary" fixed>Nickname:</ion-label>
            <ion-input type="text" placeholder="Name" [(ngModel)]="USER.U_NAME"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary" fixed>Họ và Tên:</ion-label>
            <ion-input type="text" placeholder="FullName" [(ngModel)]="USER.U_FULLNAME"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary" fixed>Số điện thoại:</ion-label>
            <ion-input type="text" placeholder="Phone" [(ngModel)]="USER.U_PHONE"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary" fixed>Email:</ion-label>
            <ion-input type="text" placeholder="Email" [(ngModel)]="USER.U_EMAIL"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary" fixed>Địa chỉ:</ion-label>
            <ion-input type="text" placeholder="Address" [(ngModel)]="USER.U_ADDRESS"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary">Giới tính:</ion-label>
            <ion-select [(ngModel)]="USER.U_GENDER">
              <ion-select-option value="Male">Nam</ion-select-option>
              <ion-select-option value="Female">Nữ</ion-select-option>
              <ion-select-option value="Other">Khác</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label color="primary" fixed>Ngày sinh</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="USER.U_DoB"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label color="primary">Quyền</ion-label>
            <ion-select [(ngModel)]="USER.U_ROLE">
              <ion-select-option value="Manager">Manager</ion-select-option>
              <ion-select-option value="Specialist">Specialist</ion-select-option>
              <ion-select-option value="BA">BA</ion-select-option>
              <ion-select-option value="BAS">BA Sale</ion-select-option>
              <ion-select-option value="FA">FA</ion-select-option>
              <ion-select-option value="Admin">Admin</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label color="primary">Trạng thái:</ion-label>
            <ion-select [(ngModel)]="USER.U_STATE">
              <ion-select-option value="Active">Active</ion-select-option>
              <ion-select-option value="Inactive">Inactive</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-button expand="block" color="danger" (click)="doCancel()">Huỷ bỏ</ion-button>
              </ion-col>
              <ion-col>
                <ion-button expand="block" (click)="updateUser()">Cập nhật</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <!-- <p class="alertUpdate">{{ALERTUPDATE}}</p> -->
      </div>
    </div>
  </div>
</ion-content>