<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Thêm nhân viên</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label color="primary">Họ và Tên:</ion-label>
    <ion-input #name type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary">Nickname:</ion-label>
    <ion-input #nickname type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary">Email:</ion-label>
    <ion-input #email type="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary">Mật khẩu:</ion-label>
    <ion-input #pw type="text"></ion-input>
  </ion-item>


  <ion-item>
    <ion-label color="primary">Quyền</ion-label>
    <ion-select #role>
      <ion-select-option value="Manager">Manager</ion-select-option>
      <ion-select-option value="Specialist">Specialist</ion-select-option>
      <ion-select-option value="BA">BA</ion-select-option>
      <ion-select-option value="BAS">BA Sale</ion-select-option>
      <ion-select-option value="FA">FA</ion-select-option>
      <ion-select-option value="Admin">Admin</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label color="primary" fixed>Cửa hàng:</ion-label>
    <ion-input type="text" placeholder="Cửa hàng" #location></ion-input>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="full" color="danger" (click)="cancel()">Huỷ bỏ</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full"
          (click)="createAccount4User(name.value, nickname.value, email.value, pw.value, role.value, location.value)">Thêm mới
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>