<ion-header>
  <ion-toolbar>
    <ion-title>user-new-add</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label color="primary">Email:</ion-label>
    <ion-input #email type="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary">Password:</ion-label>
    <ion-input #pw type="text"></ion-input>
  </ion-item>


  <ion-item>
    <ion-label color="primary">Role</ion-label>
    <ion-select #role>
      <ion-select-option value="Manager">Manager</ion-select-option>
      <ion-select-option value="Specialist">Specialist</ion-select-option>
      <ion-select-option value="BA">BA</ion-select-option>
      <ion-select-option value="Admin">Admin</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="full" color="danger" (click)="cancel()">Cancel</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" (click)="createAccount4User(email.value, pw.value, role.value)">Create</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>