<ion-header>
  <ion-toolbar>
    <ion-title>Assignment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-grid style="margin: 0 auto; text-align: center;">
    <ion-row>
      <ion-button *ngFor="let STATE of STATES" fill="clear" size="small" color="dark"
        style="font-size: 9px; text-align: center;">
        <span [ngClass]="STATE"></span>
        {{STATE}}
      </ion-button>
    </ion-row>
  </ion-grid> -->
  <ion-item>
    <ion-label>Select Month</ion-label>
    <ion-datetime #selectedMonth display-format="MMM, YYYY" (ionChange)="selectMonth(selectedMonth.value)">
    </ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Beauty Advisor:</ion-label>
    <ion-select [(ngModel)]="selectedBA">
      <ion-select-option value="null">None</ion-select-option>
      <ion-select-option *ngFor="let BA of BAs" [value]="BA">{{BA.U_NAME}}</ion-select-option>
      <!-- <ion-select-option ="brown"></ion-select-option>
      <ion-select-option value="blonde">Blonde</ion-select-option>
      <ion-select-option value="black">Black</ion-select-option>
      <ion-select-option value="red">Red</ion-select-option> -->
    </ion-select>
  </ion-item>
  <ion-grid text-center>
    <ion-row *ngFor="let Day of DaysInMonth">
      <ion-col>
        <span class="DATE">{{Day.date}}</span>
      </ion-col>
      <ion-col *ngFor="let SLOT of Day.Slots; let i = index" (click)="selectSlotInList(Day,SLOT,i)"
        [ngStyle]="{'opacity': Day.isThePast ? '0.3' : '1'}">
        <span class="{{SLOT.STATUS}}"><span *ngIf="SLOT.BAB_NAME">{{SLOT.BAB_NAME}}</span><span
            *ngIf="!SLOT.BAB_NAME">{{SLOT.SLOT}}</span></span>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-grid text-center>
    <ion-row *ngFor="let Day of DaysInM2">
      <ion-col>
        <span class="DATE">{{Day.date}}</span>
      </ion-col>
      <ion-col *ngFor="let SLOT of Day.Slots; let i = index" (click)="selectSlotInList(Day,SLOT,i)"
        [ngStyle]="{'opacity': Day.isThePast ? '0.3' : '1'}">
        <span class="{{SLOT.STATUS}}">{{SLOT.SLOT}}</span>
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <!-- <ion-grid>
    <ion-row *ngFor="let STATE of STATES" >
      <ion-col size="4" [ngClass]="STATE">{{STATE}}</ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>