.DATE {
    font-weight: 500;
    font-size: 15px;
}


.CANCELED{
    background: orange;
    padding: 3px;
    border-radius: 10px;
    font-size: 12px;
    color: white;
    min-width: 66px;
    max-width: 100px;
}
.BOOKED{
    background: lightgrey;
    padding: 3px;
    border-radius: 10px;
    font-size: 12px;    
    min-width: 66px;
    max-width: 100px;
    color: white;

}
.COMPLETED{
    background: #71BF45;
    padding: 3px;
    border-radius: 10px;
    font-size: 12px;
    color: white;
    min-width: 66px;
    max-width: 100px;
}
.EXPIRED{
    background: gray;
    border-radius: 10px;
    font-size: 12px;
    color: white;
    min-width: 66px;
    max-width: 100px;
}

.AVAILABLE{
    background: grey;
    padding: 3px;
    // border: 1px solid red;
    border-radius: 10px;
    font-size: 12px;
    color: white;
    min-width: 66px;
    max-width: 100px;
}

.DRAFT{
    background: grey;
    padding: 3px;
    // border: 1px solid red;
    border-radius: 10px;
    font-size: 12px;
    color: white;
    min-width: 66px;
    max-width: 100px;
}

// ion-row{
//     margin: 5px 0;
    
// }

ion-col span{
    border-radius: 0px;
    //padding: 5px 7px;
}

ion-col h4{
    margin: 2px 2px;
    font-size: 15px;
}

.SLOT{
    border-radius: 5px;
    color: white;
}
.SLOT_SLOT{
    font-size: 12px;
}