.add_new
{
    width: 80%;
    height: 40px;
    background: blue;
    border-radius: 10px;
    color: white;
}
.btn{
    margin: 0 auto;
    text-align: center;
}
.alertAdd{
    text-align: center;
}

.new-customer{
    background: lightskyblue;
    padding: 5px 10px;
}

.old-customer{
    background: lightgray;
    padding: 5px 10px;
}