<ion-header>
  <ion-toolbar>
    <ion-title>test</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <!-- <ion-fab vertical="bottom" horizontal="end" edge slot="fixed">
        <ion-fab-button>Share</ion-fab-button>
    
        <ion-fab-list side="top">
          <ion-fab-button>Facebook</ion-fab-button>
          <ion-fab-button>Twitter</ion-fab-button>
          <ion-fab-button>Youtube</ion-fab-button>
        </ion-fab-list>
    
        <ion-fab-list side="start">
          <ion-fab-button>Vimeo</ion-fab-button>
        </ion-fab-list>
    
      </ion-fab> -->
      <!-- fab placed to the top end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
