<ion-header>
  <ion-toolbar>
    <ion-title>Cập nhật lịch hẹn</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <div class="content">
      <div class="old-customer" *ngIf="BOOKING">
        <ion-item>
          <ion-label color="primary" fixed>Tên:</ion-label>
          <ion-input type="text" placeholder="" [(ngModel)]="BOOKING.B_CUSTOMER_NAME"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary" fixed>VIP Code:</ion-label>
          <ion-input type="text" placeholder="" [(ngModel)]="BOOKING.B_CUSTOMER_VIPCODE"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary" fixed>Số điện thoại:</ion-label>
          <ion-input type="text" placeholder="" [(ngModel)]="BOOKING.B_CUSTOMER_PHONE"></ion-input>

        </ion-item>
        <div style="height: 5px"></div>
        <ion-item>
          <ion-label color="primary" fixed>Ngày hẹn:</ion-label>
          <ion-button [disabled]="isChangeSlotDisabled()" slot="end" (click)="changeTimeSlot()">{{BOOKING.B_DATE}}
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-label color="primary" fixed>Thời gian:</ion-label>
          <ion-button [disabled]="isChangeSlotDisabled()" slot="end" (click)="changeTimeSlot()">{{BOOKING.B_SLOT}}
          </ion-button>
        </ion-item>
        <div style="height: 5px"></div>

        <ion-item>
          <ion-label color="primary" fixed>Ghi chú:</ion-label>
          <ion-input type="text" placeholder="Ghi chú" [(ngModel)]="BOOKING.B_NOTE"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary">KH sử dụng Skin Care</ion-label>
          <ion-toggle [(ngModel)]="BOOKING.B_CSCU"></ion-toggle>
        </ion-item>

        <ion-item>
          <ion-label color="primary">KH sử dụng Sublimage</ion-label>
          <ion-toggle [(ngModel)]="BOOKING.B_SUBLIMAGE"></ion-toggle>
        </ion-item>
        <ion-item *ngIf="BOOKING.B_SUBLIMAGE">
          <ion-label stacked></ion-label>
          <ion-input [(ngModel)]="BOOKING.B_SUBLIMAGES" placeholder="Sản phẩm Sublimage khách dùng"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary">KH sử dụng Le lift</ion-label>
          <ion-toggle [(ngModel)]="BOOKING.B_LELIFT"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label color="primary">KH sử dụng Fashion</ion-label>
          <ion-toggle [(ngModel)]="BOOKING.B_FASHION"></ion-toggle>
        </ion-item>
        <ion-item *ngIf="BOOKING.B_FASHION">
          <ion-label stacked></ion-label>
          <ion-input [(ngModel)]="BOOKING.B_FASHIONS" placeholder="Sản phẩm Fashion khách dùng"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" fixed>Lần đầu sử dụng facial cabin</ion-label>
          <ion-toggle disabled="true" [(ngModel)]="BOOKING.B_isNewCustomer"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label color="primary" fixed>Trạng thái:</ion-label>
          <ion-button [disabled]="isDisabled()" slot="end" (click)="setBookingStatus()">{{BOOKING.B_STATUS}}
          </ion-button>
        </ion-item>
        <div *ngIf="BOOKING.B_STATUS =='COMPLETED'">
          <ion-item>
            <ion-label color="primary" fixed>Tổng tiền:</ion-label>
            <ion-button slot="end" (click)="setTotal()"><span
                *ngIf="BOOKING.B_TOTAL">{{BOOKING.B_TOTAL | currency}}</span><span *ngIf="!BOOKING.B_TOTAL">0</span>
            </ion-button>
          </ion-item>
          <ion-item>
            <ion-label color="primary" fixed>BA bán hàng:</ion-label>
            <ion-button slot="end" (click)="setBASelling()">
              <span *ngIf="BOOKING.B_BA_SELL_NAME">{{BOOKING.B_BA_SELL_NAME}}</span>
              <span *ngIf="!BOOKING.B_BA_SELL_NAME">Chọn B.A bán hàng</span>
            </ion-button>
          </ion-item>
        </div>
        <ion-grid text-center>
          <ion-row>
            <ion-col>
              <ion-button color="danger" expand="block" (click)="doCancel()">Huỷ bỏ</ion-button>
            </ion-col>
            <ion-col>
              <ion-button [disabled]="isDisabled()" color="secondary" expand="block" (click)="updateBooking()">Cập nhật
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>