<ion-header>
  <ion-toolbar>
    <ion-title>Cập nhật lịch hẹn</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="doCancel()">
        <ion-icon color="danger" slot="end" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <div class="content">
      <div class="new-customer" *ngIf="BOOKING">
        <ion-item>
          <ion-label color="primary" fixed>Số điện thoại:</ion-label>
          <ion-button href="tel:{{BOOKING.B_CUSTOMER_PHONE}}" slot="end">{{BOOKING.B_CUSTOMER_PHONE}}</ion-button>
        </ion-item>
        <ion-item>
          <ion-label color="primary" fixed>VIP Code:</ion-label>
          <ion-input type="text" placeholder="" [(ngModel)]="BOOKING.B_CUSTOMER_VIPCODE"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label color="primary" fixed>Tên:</ion-label>
          <ion-input type="text" placeholder="" [(ngModel)]="BOOKING.B_CUSTOMER_NAME"></ion-input>
        </ion-item>

        <div style="height: 5px"></div>
        <ion-item>
          <ion-label color="primary" fixed>Ngày hẹn:</ion-label>
          <ion-button [disabled]="isChangeSlotDisabled()" slot="end" (click)="changeTimeSlot()">
            {{BOOKING.B_DATE | date:'dd/MM/yyyy'}}
          </ion-button>
        </ion-item>
        <ion-item lines="none">
          <ion-label color="primary" fixed>Thời gian:</ion-label>
          <ion-button [disabled]="isChangeSlotDisabled()" slot="end" (click)="changeTimeSlot()">{{BOOKING.B_SLOT}}
          </ion-button>
        </ion-item>
        <div style="height: 5px"></div>

        <ion-item lines="none">
          <ion-label color="primary" fixed>Ghi chú:</ion-label>
          <ion-input type="text" placeholder="Ghi chú" [(ngModel)]="BOOKING.B_NOTE"></ion-input>
        </ion-item>
        <div style="height: 5px"></div>
        <h3>NHÂN VIÊN:</h3>
        <ion-item lines="none">
          <ion-label color="primary">BA book lịch:</ion-label>
          <ion-input disabled="true" type="text" placeholder="" [(ngModel)]="BOOKING.B_BA_BOOK.U_FULLNAME"></ion-input>
        </ion-item>
        <!-- <ion-item>
          <ion-label color="primary">Specialist:</ion-label>
          <ion-input disabled="true" type="text" placeholder="" [(ngModel)]="BOOKING.B_SPECIALIST.U_FULLNAME"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary">B.A Sale:</ion-label>
          <ion-input disabled="true" type="text" placeholder="" [(ngModel)]="BOOKING.B_BA_SELL.U_FULLNAME"></ion-input>
        </ion-item> -->
        <div style="height: 5px"></div>
        <h3>NHÓM KHÁCH HÀNG:</h3>
        <ion-item>
          <ion-label color="primary">Khách Nước Hoa</ion-label>
          <ion-toggle disabled="true" [(ngModel)]="BOOKING.B_PERFUME"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label color="primary">Khách MakeUp</ion-label>
          <ion-toggle disabled="true" [(ngModel)]="BOOKING.B_MAKEUP"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label color="primary">Khách Skin Care</ion-label>
          <ion-toggle disabled="true" [(ngModel)]="BOOKING.B_CSCU"></ion-toggle>
        </ion-item>

        <ion-item>
          <ion-label color="primary">Khách Sublimage</ion-label>
          <ion-toggle disabled="true" [(ngModel)]="BOOKING.B_SUBLIMAGE"></ion-toggle>
        </ion-item>
        <ion-item *ngIf="BOOKING.B_SUBLIMAGE">
          <ion-label stacked></ion-label>
          <ion-input disabled="true" [(ngModel)]="BOOKING.B_SUBLIMAGES" placeholder="Sản phẩm Sublimage khách dùng">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary">Khách Le Lift</ion-label>
          <ion-toggle disabled="true" [(ngModel)]="BOOKING.B_LELIFT"></ion-toggle>
        </ion-item>
        <ion-item lines="none">
          <ion-label color="primary">Khách Fashion</ion-label>
          <ion-toggle disabled="true" [(ngModel)]="BOOKING.B_FASHION"></ion-toggle>
        </ion-item>
        <ion-item lines="none" *ngIf="BOOKING.B_FASHION">
          <ion-label stacked></ion-label>
          <ion-input disabled="true" [(ngModel)]="BOOKING.B_FASHIONS" placeholder="Sản phẩm Fashion khách dùng">
          </ion-input>
        </ion-item>
        <div style="height: 5px"></div>
        <ion-item>
          <ion-label color="primary" fixed>Trạng thái:</ion-label>
          <ion-button [disabled]="isDisabled()" slot="end" (click)="setBookingStatus()">{{BOOKING.B_STATUS_VI}}
          </ion-button>
        </ion-item>

        <div *ngIf="BOOKING.B_STATUS =='COMPLETED'">
          <ion-item>
            <ion-label color="primary" fixed>Tổng tiền:</ion-label>
            <ion-button slot="end" (click)="setTotal()"><span
                *ngIf="BOOKING.B_TOTAL">{{BOOKING.B_TOTAL | currency:'VND'}}</span><span
                *ngIf="!BOOKING.B_TOTAL">0</span>
            </ion-button>
          </ion-item>
          <ion-item>
            <ion-label color="primary" fixed>B.A bán hàng:</ion-label>
            <ion-button slot="end" (click)="setBASelling()">
              <span *ngIf="BOOKING.B_BA_SELL_NAME">{{BOOKING.B_BA_SELL_NAME}}</span>
              <span *ngIf="!BOOKING.B_BA_SELL_NAME">Chọn B.A bán hàng</span>
            </ion-button>
          </ion-item>
          <ion-item>
            <ion-label color="primary" fixed>Sales Memo:</ion-label>
            <ion-input type="text" placeholder="Nhập thông tin ..." [(ngModel)]="BOOKING.B_MEMOS"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary" fixed>TILL:</ion-label>
            <ion-input type="text" placeholder="Nhập thông tin ..." [(ngModel)]="BOOKING.B_TILL"></ion-input>
          </ion-item>
        </div>

      </div>
    </div>
  </div>
  <ion-grid text-center>
    <ion-row>
      <ion-col>
        <ion-button [disabled]="isDisabled()" color="secondary" expand="block" (click)="updateBooking()">Cập nhật
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>