<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Calendars</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div padding>
    <ion-segment [(ngModel)]="segment" (ionChange)="segmentChanged($event)">
      <ion-segment-button layout="icon-start" value="overall">
        <ion-label>Overall</ion-label>
        <ion-icon name="calendar"></ion-icon>
      </ion-segment-button>
      <ion-segment-button layout="icon-start" value="list">
        <ion-label>List</ion-label>
        <ion-icon name="list-box"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="segment" text-center>
    <div *ngSwitchCase="'list'">
      <ion-grid text-center>
        <ion-row *ngFor="let Day of DaysInM1">
          <ion-col>
            <span class="DATE">{{Day.date}}</span>
          </ion-col>
          <ion-col *ngFor="let SLOT of Day.Slots; let i = index" (click)="selectSlotInList(Day,SLOT,i)">
            <span class="{{SLOT.STATUS}}">{{SLOT.SLOT}}</span>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid text-center>
        <ion-row *ngFor="let Day of DaysInM2">
          <ion-col>
            <span class="DATE">{{Day.date}}</span>
          </ion-col>
          <ion-col *ngFor="let SLOT of Day.Slots; let i = index" (click)="selectSlotInList(Day,SLOT,i)">
            <span class="{{SLOT.STATUS}}">{{SLOT.SLOT}}</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div *ngSwitchCase="'overall'">
      <ion-grid *ngIf="WEEKSinMONTH1">
        <h1>{{WEEKSinMONTH1.MONTH}} {{WEEKSinMONTH1.YEAR}}</h1>
        <ion-row class="row-bottom-line">
          <ion-col>Sun</ion-col>
          <ion-col>Mon</ion-col>
          <ion-col>Tue</ion-col>
          <ion-col>Wed</ion-col>
          <ion-col>Thu</ion-col>
          <ion-col>Fri</ion-col>
          <ion-col>Sat</ion-col>
        </ion-row>
        <ion-row *ngFor="let WK of WEEKSinMONTH1.WEEKS" class="row-bottom-line">
          <ion-col *ngFor="let Day of WK" (click)="selectDay(Day)" style="text-align: center">
            <h4>{{Day?.Date}}</h4>
            <div *ngIf="Day?.n>=3 && Day?.Date" class="badge-red">{{Day?.n}}</div>
            <div *ngIf="Day?.n<3 && Day?.Date" class="badge-green">{{Day?.n}}</div>
            <ion-badge></ion-badge>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid *ngIf="WEEKSinMONTH2">
        <h1>{{WEEKSinMONTH2.MONTH}} {{WEEKSinMONTH2.YEAR}}</h1>
        <ion-row class="row-bottom-line">
          <ion-col>Sun</ion-col>
          <ion-col>Mon</ion-col>
          <ion-col>Tue</ion-col>
          <ion-col>Wed</ion-col>
          <ion-col>Thu</ion-col>
          <ion-col>Fri</ion-col>
          <ion-col>Sat</ion-col>
        </ion-row>
        <ion-row *ngFor="let WK of WEEKSinMONTH2.WEEKS" class="row-bottom-line">
          <ion-col *ngFor="let Day of WK" (click)="selectDay(Day)" style="text-align: center">
            <h4>{{Day?.Date}}</h4>
            <div *ngIf="Day?.n>=3 && Day?.Date" class="badge-red">{{Day?.n}}</div>
            <div *ngIf="Day?.n<3 && Day?.Date" class="badge-green">{{Day?.n}}</div>
            <ion-badge></ion-badge>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div *ngIf="selectedDay">
        <h2>{{selectedDay.DateId}}</h2>
        <ion-grid>
          <ion-row *ngFor="let slot of selectedDay.Slots; let i = index" (click)="selectSlot(selectedDay,slot, i)">
            <ion-col size="4" [ngClass]="slot.STATUS">{{slot.SLOT}}</ion-col>
            <ion-col>{{slot.STATUS}}</ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div style="height: 50px"></div>
    </div>

  </div>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="addNewAppointment()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>