<!--
  Generated template for the TestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <!-- <ion-toolbar>
    <ion-title>Calendars</ion-title>
  </ion-toolbar> -->
  <ion-toolbar>

    <ion-title>Calendars</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button>
        Select
        <ion-icon slot="end" name="funnel"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>

  <!-- <ion-toolbar>
      <ion-title>Subheader</ion-title>
    </ion-toolbar> -->
</ion-header>


<ion-content>
  <ion-segment>
    <ion-segment-button checked layout="icon-start">
      <ion-label>Overall</ion-label>
      <ion-icon name="calendar"></ion-icon>
    </ion-segment-button>
    <ion-segment-button layout="icon-start">
      <ion-label>List</ion-label>
      <ion-icon name="list-box"></ion-icon>
    </ion-segment-button>

  </ion-segment>
  <ion-grid text-center>
    <ion-row>
      <ion-col>
        <span class="DATE">2019/01/18</span>
      </ion-col>
      <ion-col>
        <span class="CANCEL">10:30</span>
      </ion-col>
      <ion-col>
        <span class="COMPLETE">12:30</span>
      </ion-col>
      <ion-col>
        <span class="COMPLETE">15:00</span>
      </ion-col>
      <ion-col>
        <span class="AVAILABLE">17:00</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <span class="DATE">2019/01/19</span>
      </ion-col>
      <ion-col>
        <span class="CANCEL">10:30</span>
      </ion-col>
      <ion-col>
        <span class="COMPLETE">12:30</span>
      </ion-col>
      <ion-col>
        <span class="COMPLETE">15:00</span>
      </ion-col>
      <ion-col>
        <span class="COMPLETE">17:00</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <span class="DATE">2019/01/20</span>
      </ion-col>
      <ion-col>
        <span class="AVAILABLE">10:30</span>
      </ion-col>
      <ion-col>
        <span class="COMPLETE">12:30</span>
      </ion-col>
      <ion-col>
        <span class="COMPLETE">15:00</span>
      </ion-col>
      <ion-col>
        <span class="AVAILABLE">17:00</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <span class="DATE">2019/01/21</span>
      </ion-col>
      <ion-col>
        <span class="CANCEL">10:30</span>
      </ion-col>
      <ion-col>
        <span class="COMPLETE">12:30</span>
      </ion-col>
      <ion-col>
        <span class="COMPLETE">15:00</span>
      </ion-col>
      <ion-col>
        <span class="AVAILABLE">17:00</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <span class="DATE">2019/01/22</span>
      </ion-col>
      <ion-col>
        <span class="COMPLETE">10:30</span>
      </ion-col>
      <ion-col>
        <span class="COMPLETE">12:30</span>
      </ion-col>
      <ion-col>
        <span class="CANCEL">15:00</span>
      </ion-col>
      <ion-col>
        <span class="COMPLETE">17:00</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <span class="DATE">2019/01/23</span>
      </ion-col>
      <ion-col>
        <span class="CANCEL">10:30</span>
      </ion-col>
      <ion-col>
        <span class="COMPLETE">12:30</span>
      </ion-col>
      <ion-col>
        <span class="COMPLETE">15:00</span>
      </ion-col>
      <ion-col>
        <span class="AVAILABLE">17:00</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <span class="DATE">2019/01/24</span>
      </ion-col>
      <ion-col>
        <span class="CANCEL">10:30</span>
      </ion-col>
      <ion-col>
        <span class="COMPLETE">12:30</span>
      </ion-col>
      <ion-col>
        <span class="COMPLETE">15:00</span>
      </ion-col>
      <ion-col>
        <span class="COMPLETE">17:00</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <span class="DATE">2019/01/25</span>
      </ion-col>
      <ion-col>
        <span class="AVAILABLE">10:30</span>
      </ion-col>
      <ion-col>
        <span class="COMPLETE">12:30</span>
      </ion-col>
      <ion-col>
        <span class="COMPLETE">15:00</span>
      </ion-col>
      <ion-col>
        <span class="AVAILABLE">17:00</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <span class="DATE">2019/01/26</span>
      </ion-col>
      <ion-col>
        <span class="CANCEL">10:30</span>
      </ion-col>
      <ion-col>
        <span class="COMPLETE">12:30</span>
      </ion-col>
      <ion-col>
        <span class="COMPLETE">15:00</span>
      </ion-col>
      <ion-col>
        <span class="AVAILABLE">17:00</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <span class="DATE">2019/01/27</span>
      </ion-col>
      <ion-col>
        <span class="COMPLETE">10:30</span>
      </ion-col>
      <ion-col>
        <span class="COMPLETE">12:30</span>
      </ion-col>
      <ion-col>
        <span class="CANCEL">15:00</span>
      </ion-col>
      <ion-col>
        <span class="COMPLETE">17:00</span>
      </ion-col>
    </ion-row>
    <ion-row class="active-date">
      <ion-col>
        <span class="DATE">2019/01/28</span>
      </ion-col>
      <ion-col>
        <span class="BOOK">10:30</span>
      </ion-col>
      <ion-col>
        <span class="AVAILABLE">12:30</span>
      </ion-col>
      <ion-col>
        <span class="BOOK">15:00</span>
      </ion-col>
      <ion-col>
        <span class="AVAILABLE">17:00</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <span class="DATE">2019/01/29</span>
      </ion-col>
      <ion-col>
        <span class="BOOK">10:30</span>
      </ion-col>
      <ion-col>
        <span class="BOOK">12:30</span>
      </ion-col>
      <ion-col>
        <span class="BOOK">15:00</span>
      </ion-col>
      <ion-col>
        <span class="BOOK">17:00</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <span class="DATE">2019/01/30</span>
      </ion-col>
      <ion-col>
        <span class="BOOK">10:30</span>
      </ion-col>
      <ion-col>
        <span class="BOOK">12:30</span>
      </ion-col>
      <ion-col>
        <span class="BOOK">15:00</span>
      </ion-col>
      <ion-col>
        <span class="AVAILABLE">17:00</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <span class="DATE">2019/01/31</span>
      </ion-col>
      <ion-col>
        <span class="BOOK">10:30</span>
      </ion-col>
      <ion-col>
        <span class="BOOK">12:30</span>
      </ion-col>
      <ion-col>
        <span class="BOOK">15:00</span>
      </ion-col>
      <ion-col>
        <span class="BOOK">17:00</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <span class="DATE">2019/02/01</span>
      </ion-col>
      <ion-col>
        <span class="AVAILABLE">10:30</span>
      </ion-col>
      <ion-col>
        <span class="BOOK">12:30</span>
      </ion-col>
      <ion-col>
        <span class="BOOK">15:00</span>
      </ion-col>
      <ion-col>
        <span class="AVAILABLE">17:00</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <span class="DATE">2019/02/02</span>
      </ion-col>
      <ion-col>
        <span class="AVAILABLE">10:30</span>
      </ion-col>
      <ion-col>
        <span class="AVAILABLE">12:30</span>
      </ion-col>
      <ion-col>
        <span class="AVAILABLE">15:00</span>
      </ion-col>
      <ion-col>
        <span class="AVAILABLE">17:00</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <span class="DATE">2019/02/03</span>
      </ion-col>
      <ion-col>
        <span class="AVAILABLE">10:30</span>
      </ion-col>
      <ion-col>
        <span class="AVAILABLE">12:30</span>
      </ion-col>
      <ion-col>
        <span class="AVAILABLE">15:00</span>
      </ion-col>
      <ion-col>
        <span class="AVAILABLE">17:00</span>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>