<ion-header>
  <ion-toolbar>
    <ion-title>Đăng nhập</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background: #ff0;">
  <div class="main">
    <div class="content">

      <div class="logo">
        <img src="" />
      </div>

      <div *ngIf="authService.isSigned">
        <div class="input_div">
          <ion-input #email type="email" placeholder="Email"></ion-input>
          <ion-input #pw type="password" placeholder="Mật khẩu"></ion-input>
          <div class="button_div">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <button class="btn_login" (click)="login(email.value, pw.value)">Đăng xuất</button>
                </ion-col>
                <ion-col>
                  <button class="btn_register">Đăng nhập</button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
      </div>
      <div *ngIf="!authService.isSigned">
        <div class="input_div">
          <ion-input #email type="email" placeholder="Email"></ion-input>
          <ion-input #pw type="password" placeholder="Mật khẩu"></ion-input>
          <div class="button_div">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <button class="btn_login" (click)="login(email.value, pw.value)">Đăng nhập</button>
                </ion-col>
                <ion-col>
                  <button class="btn_register">Đăng ký</button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ion-button (click)="authService.signOutWithAfAuth()">Đăng xuất</ion-button>
</ion-content>