<ion-header>
  <ion-toolbar>
    <ion-searchbar type="text" placeholder="Tìm kiếm" #search_phone (ionChange)="search(search_phone.value)"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button (click)="doCancel()">
        <ion-icon color="danger" slot="end" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item *ngFor="let USER of filteredBAs" (click)="selectBA(USER)">
    <ion-avatar slot="start">
      <img [src]="USER.U_AVATAR" onError="this.src='../../assets/imgs/user.jpg';">
    </ion-avatar>
    <ion-label>
      <h3>{{USER.U_FULLNAME}}</h3>
      <p><i>{{USER.U_ROLE}}</i></p>
      <p>{{USER.U_EMAIL}}</p>
    </ion-label>
    <ion-note slot="end">
      <ion-icon name="md-create"></ion-icon>
    </ion-note>
  </ion-item>
</ion-content>
