<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="main" text-center>
      <div class="content">
        <div class="logo">
          <img src="../../assets/imgs/logo_chanel.png" alt="" class="img_logo"/>
        </div>

        <div class="controllers">
          <ion-grid>
            <ion-row>
              <ion-col>
                <img src="../../assets/imgs/icon-home.png" alt=""/>
                <p>Calendar</p>
              </ion-col>
              <ion-col>
                <img src="../../assets/imgs/icon-home.png" alt=""/>
                <p>Cabin</p>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <img src="../../assets/imgs/icon-home.png" alt=""/>
                <p>Report</p>
              </ion-col>
              <ion-col>
                <img src="../../assets/imgs/icon-home.png" alt=""/>
                <p>Customer</p>
              </ion-col>
            </ion-row>
          </ion-grid>

    
        </div>
      </div>
    </div>
</ion-content>
