// .CANCELED{
//     background: orange;
//     padding: 3px;
//     border-radius: 2px;
//     color: white;
// }
// .BOOKED{
//     background: lightgrey;
//     padding: 3px;
//     border-radius: 2px;
//     color: white;
// }
// .COMPLETED{
//     background: #71BF45;
//     padding: 3px;
//     border-radius: 2px;
//     color: white;
// }
// .EXPIRED{
//     background: #9B9B9B;
//     border-radius: 2px;
//     border-radius: 2px;
//     color: white;
// }

// .AVAILABLE{
//     background: #7ED321;
//     padding: 3px;
//     border-radius: 2px;
//     color: white;
// }

// .AVAILABLE{
//     background: #7ED321;
//     padding: 3px;
//     border-radius: 2px;
//     color: white;
// }


.CANCELED{
    background: #A37FF6;
    padding: 3px;
    border-radius: 10px;
    font-size: 12px;
    color: white;
}
.BOOKED{
    background: #FF0050;
    padding: 3px;
    border-radius: 10px;
    font-size: 12px;
    color: white;
}
.COMPLETED{
    background: #4198FD;
    padding: 3px;
    border-radius: 10px;
    font-size: 12px;
    color: white;
}

.DRAFT{
    background: #EFDE0A;
    padding: 3px;
    border-radius: 10px;
    font-size: 12px;
    color: white;
}
.EXPIRED{
    background: #9B9B9B;
    border-radius: 10px;
    font-size: 12px;
    color: white;
}
.AVAILABLE{
    background: #7ED321;
    padding: 3px;
    // border: 1px solid red;
    border-radius: 10px;
    font-size: 12px;
    color: white;

}
.BLOCKED{
    background: black;
    padding: 3px;
    // border: 1px solid red;
    border-radius: 10px;
    font-size: 12px;
    color: white;

}

ion-row{
    padding: 5px;
    text-align: center;
}