<ion-header>
  <ion-toolbar>
    <ion-title>{{DATE}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="doCancel()">
        <ion-icon color="danger" slot="end" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content padding>
  <div *ngIf="selectedDay">
    <ion-grid>
      <ion-row *ngFor="let slot of selectedDay.Slots; let i = index" (click)="selectSlot(selectedDay,slot, i)">
        <ion-col size="4" [ngClass]="slot.STATUS">{{slot.SLOT}}</ion-col>
        <ion-col>{{slot.STATUS}}</ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>