<ion-header>
  <ion-toolbar>
    <ion-title>account-register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <div class="content">
      <div class="div_register">

          <ion-input #email type="email" placeholder="Email"></ion-input>
          <ion-input #pw type="password" placeholder="Password"></ion-input>
          <ion-input #fullname type="text" placeholder="FullName"></ion-input>

            <div class="button_div">
                <ion-grid>
                    <ion-row>
                      <ion-col>
                        <button class="btn_register" (click)="register(email.value, pw.value,fullname.value) ">Register</button>
                      </ion-col>
                      <ion-col>
                        <button class="btn_cancel">Cancel</button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
          </div>   
      </div>
    </div>
  </div>
</ion-content>
